<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gs.dao.mapper.OPCItemValueRecordMapper">

    <select id="itemAverage" resultType="java.lang.Double">
        SELECT AVG( item_value :: NUMERIC )
        FROM
            opc_item_value_record
        WHERE
            factory_id =#{factoryId}
            AND item_id = #{itemId}
            AND item_type in (2,3,4)
            AND item_timestamp BETWEEN #{startDate}
            AND  #{endDate}
    </select>
</mapper>
